CREATE DATABASE [dbTask]
GO

USE [dbTasks]
GO
/****** Object:  Table [dbo].[CentralDeCusto]    Script Date: 04/09/2026 16:41:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CentralDeCusto](
	[Codigo] [int] IDENTITY(1,1) NOT NULL,
	[NomeCentral] [varchar](250) NOT NULL,
	[ValorMetaAnual] [decimal](18, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[departamento]    Script Date: 04/09/2026 16:41:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[departamento](
	[Codigo] [int] IDENTITY(1,1) NOT NULL,
	[Descricao] [varchar](200) NOT NULL,
	[Ativo] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Funcionario]    Script Date: 04/09/2026 16:41:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Funcionario](
	[Codigo] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](100) NOT NULL,
	[Cargo] [varchar](50) NOT NULL,
	[CodigoGerente] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Incidente]    Script Date: 04/09/2026 16:41:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Incidente](
	[Codigo] [int] IDENTITY(1,1) NOT NULL,
	[DescricaoProblema] [varchar](250) NOT NULL,
	[DataIncidente] [datetime] NOT NULL,
	[Solucao] [varchar](250) NULL,
	[Resolvido] [varchar](3) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tarefa]    Script Date: 04/09/2026 16:41:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tarefa](
	[Codigo] [int] IDENTITY(1,1) NOT NULL,
	[Descricao] [varchar](200) NOT NULL,
	[DataPlanejada] [datetime] NOT NULL,
	[DataIniciada] [datetime] NULL,
	[DataFinalizada] [datetime] NULL,
	[DataCancelada] [datetime] NULL,
	[StatusTarefa] [varchar](30) NOT NULL,
	[Prazo] [varchar](20) NOT NULL,
	[FuncionarioId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CentralDeCusto] ON 

INSERT [dbo].[CentralDeCusto] ([Codigo], [NomeCentral], [ValorMetaAnual]) VALUES (1, N'Folha de Pagamento Funcionários', CAST(100000 AS Decimal(18, 0)))
SET IDENTITY_INSERT [dbo].[CentralDeCusto] OFF
GO
SET IDENTITY_INSERT [dbo].[departamento] ON 

INSERT [dbo].[departamento] ([Codigo], [Descricao], [Ativo]) VALUES (2, N'Dar o cu', 1)
SET IDENTITY_INSERT [dbo].[departamento] OFF
GO
SET IDENTITY_INSERT [dbo].[Funcionario] ON 

INSERT [dbo].[Funcionario] ([Codigo], [Nome], [Cargo], [CodigoGerente]) VALUES (1, N'Carlos Silva', N'Desenvolvedor Senior', NULL)
INSERT [dbo].[Funcionario] ([Codigo], [Nome], [Cargo], [CodigoGerente]) VALUES (2, N'Ana Oliveira', N'Analista de QA', NULL)
INSERT [dbo].[Funcionario] ([Codigo], [Nome], [Cargo], [CodigoGerente]) VALUES (3, N'Roberto Santos', N'Gerente de Projetos', NULL)
SET IDENTITY_INSERT [dbo].[Funcionario] OFF
GO
SET IDENTITY_INSERT [dbo].[Tarefa] ON 

INSERT [dbo].[Tarefa] ([Codigo], [Descricao], [DataPlanejada], [DataIniciada], [DataFinalizada], [DataCancelada], [StatusTarefa], [Prazo], [FuncionarioId]) VALUES (1, N'Criar tela de Login', CAST(N'2026-10-08T00:00:00.000' AS DateTime), CAST(N'2026-01-08T00:00:00.000' AS DateTime), NULL, NULL, N'Em Andamento', N'Em dia', 1)
INSERT [dbo].[Tarefa] ([Codigo], [Descricao], [DataPlanejada], [DataIniciada], [DataFinalizada], [DataCancelada], [StatusTarefa], [Prazo], [FuncionarioId]) VALUES (2, N'Homologar Release 1.0', CAST(N'2026-05-08T00:00:00.000' AS DateTime), NULL, NULL, NULL, N'Pendente', N'Em atraso', 2)
SET IDENTITY_INSERT [dbo].[Tarefa] OFF
GO
ALTER TABLE [dbo].[CentralDeCusto] ADD  DEFAULT ((0)) FOR [ValorMetaAnual]
GO
ALTER TABLE [dbo].[departamento] ADD  DEFAULT ((1)) FOR [Ativo]
GO
ALTER TABLE [dbo].[Tarefa]  WITH CHECK ADD  CONSTRAINT [FK_Tarefa_Funcionario] FOREIGN KEY([FuncionarioId])
REFERENCES [dbo].[Funcionario] ([Codigo])
GO
ALTER TABLE [dbo].[Tarefa] CHECK CONSTRAINT [FK_Tarefa_Funcionario]
GO
